# Storing which quotes have already been sent. Useless to upload because it will be created automatically
quoteids.json

# Ugly written quote scraper
scrapeQuotes.php

# All quotes. Won't upload to GitHub
quotes.json

# IDEs (switched to PHPStorm afterwards lol)
.vscode
.idea
