# Storing which quotes have already been sent. Useless to upload because it will be created manually
quoteids.json

# Ugly written quote scraper
scrapeQuotes.php

# All quotes. Won't upload to GitHub
quotes.json

# IDEs (switch to PHPStorm afterwards lol)
.vscode
.idea